div {
    display: block;
    line-height: 150%;
    /* position: relative; */
}

.box {
    text-align: center;
    /* margin: 0 auto; */
}

.content {
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    border: 1px solid red;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    padding: 40px;
    background: #eeeeee;
    z-index: 5
}

.relative {
    position: relative;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 120px;
    background: #eeeeee;
    z-index: 3;
    border: 2px solid green;
}

.absolute {
    position: absolute;
    right: -50px;
    bottom: 0px;
    width: 150px;
    padding: 40px;
    background: #999999;
    z-index: 4
}